* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.container {
    width: 700px;
    margin: 0 auto;
    animation: boom 3s 0s;
}

.balon {
    animation: opc 3s 0s;
}

.top-text {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.top-text p {
    font-size: 14px;
    font-weight: 400;
    color: #1A1A1A;
    margin-top: 10px;
}

.top-h1 {
    text-align: center;
    margin-top: 72px;
}

.top-h1 h1 {
    font-size: 46px;
    font-weight: 500;
}

input {
    width: 277px;
    height: 59px;
    background: #FFFFFF;
    border: 3px solid #543FD3;
    border-radius: 4px;
    margin: 73px 125px 6px -140px;
    padding: 20px 12px;
}

.img-error {
    position: absolute;
    top: 93px;
    right: 93px;
    display: none;
}

form {
    margin-bottom: 144px;
    width: 800px;
}

label p {
    margin: 0px 0 -70px 50px;
}

.input-block {
    display: flex;
    position: relative;
}

.p-input {
    margin: 50px 0 0 0;
    width: 140px;
    font-size: 14px;
    font-weight: 500;
    color: #4200FF;
    animation: p-animate 2s 0s;
}

.main-block {
    display: flex;
}

.fill {
    font-size: 14px;
    margin-left: 327px;
    animation: p-animate 3s 0s;
}

.need {
    font-size: 14px;
    opacity: 1;
    animation: p-animate 3s 0s;
}

.fill-2 {
    font-size: 14px;
    margin-left: 402px;
    animation: p-animate 3s 0s;
}

.main-btn {
    background: #4200FF;
    border: 2px solid #4200FF;
    border-radius: 4px;
    align-items: center;
    padding: 20px 12px;
    width: 277px;
    height: 59px;
    color: white;
    margin: 27px 0 0 -120px;
    transition: .3s;
}

.main-btn:hover {
    background-color: white;
    color: #4200FF;
    font-weight: 600;
    box-shadow: 0 0 10px 10px #4200FF;
}

.red-btn {
    background-color: red;
    color: white;
    border: 2px solid red;
    border-radius: 4px;
    align-items: center;
    padding: 20px 12px;
    width: 277px;
    height: 59px;
    transition: .3s;
    margin: 27px 0 0 -120px;
}

.red-btn:hover {
    box-shadow: 0 0 10px 10px red;
    background-color: white;
    color: red;
    font-weight: 600;
}

.btn-main {
    text-align: center;
}

.top {
    animation: baloon 3s 3s ease;
}

.right {
    animation: baloon-right 3s 3s ease;
}

.left {
    animation: baloon-left 3s 3s ease;
}

.bottom {
    animation: baloon-bottom 3s 3s ease;
}

@keyframes baloon {
    0% {
        margin-top: -1000px;
        width: 70px;
        height: 70px;
        transform: rotate(2080deg);
        border-radius: 10px;
    }
    50% {
        margin-top: 70px;
        border-radius: 20px;
        width: 70px;
        height: 70px;
        transform: rotate(1080deg);
        margin-right: 80px;
        margin-left: 10px;
    }
    100% {
        border-radius: 4px;
        transform: rotate(1080deg);
    }
}

@keyframes baloon-right {
    0% {
        margin-left: 2000px;
        width: 70px;
        height: 70px;
        transform: rotate(2080deg);
        border-radius: 10px;
    }
    50% {
        margin-right: 70px;
        border-radius: 20px;
        width: 70px;
        height: 70px;
        transform: rotate(1080deg);
        margin-left: 20px;
    }
    100% {
        border-radius: 4px;
        transform: rotate(1080deg);
    }
}

@keyframes baloon-left {
    0% {
        margin-left: -1000px;
        width: 70px;
        height: 70px;
        transform: rotate(2080deg);
        border-radius: 10px;
    }
    50% {
        margin-right: 70px;
        border-radius: 20px;
        width: 70px;
        height: 70px;
        transform: rotate(1080deg);
        margin-left: 10px;
    }
    100% {
        border-radius: 4px;
        transform: rotate(1080deg);
    }
}

@keyframes baloon-bottom {
    0% {
        margin-top: 400px;
        width: 70px;
        height: 70px;
        transform: rotate(2080deg);
        border-radius: 10px;
    }
    50% {
        margin-right: 70px;
        border-radius: 20px;
        width: 70px;
        height: 70px;
        transform: rotate(1080deg);
        margin-left: 10px;
    }
    100% {
        border-radius: 4px;
        transform: rotate(1080deg);
    }
}


@keyframes p-animate {
    0% {
        opacity: 0;
        margin-top: 200px;
    }
    100% {
        margin-bottom: 70px;
        opacity: 1;
    }
}

@keyframes boom {
    0% {
        height: 50px;
        width: 50px;
        border-radius: 50px;
        background-color: red;
    }    
    25% {
        height: 200px;
        width: 200px;
        border-radius: 200px;
        background-color: red;
    }
    50% {
        height: 500px;
        width: 500px;
        border-radius: 500px;
        background-color: red;
        background-size: 0;
    } 
    75% {
        height: 1000px;
        width: 1000px;
        border-radius: 500px;
        background-size: 0;
        background-color: red;
    }
    90%{
        height: 1500px;
        width: 1500px;
        border-radius: 1500px;
        background-size: 0;
        background-color: red;
    }
    100% {
        
        height: 1000px;
        width: 1000px;
        border-radius: 1000px;
        background-image: url(./icon/knall-51702560.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@keyframes opc {
   from {
    opacity: 0;
   }   
   to {
    opacity: 0;
   }
}





.search-block {
    width: 90%;
    text-align: center;
    margin-left: 220px;
    margin-bottom: 50px;
}

.lor-p {
    margin: 50px 250px 0 0;
    font-size: 18px;
    font-weight: 100;
}

.search-block h1 {
    margin: 50px 260px 0 0;
}